h1{
    text-align: center;
}
.album{
    height: 20rem;
    width: 100%;
    overflow: hidden;
}
.images{
    position: relative;
    display: flex;
    height: 20rem;
}
img{
    height: 20rem;
    width: 24rem;
}
