h1{
    text-align: center;
}
.album{
    height: 20rem;
    width: 25rem;
    overflow: hidden;
}
.images{
    position: relative;
    display: flex;
    height: 20rem;
}
img{
    width: 25rem;
    height: 20rem;
}
.slideButton{
    width: 25px; height: 20px;
    border: none;
    color: white;
    background-color: teal;
    outline: none;
}
button:hover{
    background-color: turquoise;
}
button:disabled{
    background-color: gray;
}
.prev{
    float: left;
}
.next{
    float: right;
}